<!-- This is sucess create user page -->
<% if notice %>
<p class = "alert alert-success" id="notice"><%= notice %></p>
<% end %>
<div class="well well-sm">
  <h3>Welcome to course catalog!</h3>
</div>
